In [3]:
print("Hello World!")

Hello World!

In [1]:
my_name="Oti Godwin"           #Exercise 1
print("My name is", my_name)

My name is Oti Godwin

In [2]:
my_age=29                      #Exercise 2
print("I am",my_age,"years old.")

I am 29 years old.

In [3]:
julia_age=25                   #Exercise 3
my_age=29
age_dff=my_age-julia_age
print("I am",age_dff, "years older than Julia.")

I am 4 years older than Julia.

In [4]:
my_age=29                    #Exercise 4
if my_age< 21:
    print("I am younger than",21)
elif my_age==21:
    print("We are the same age")
else:
    print("I am older than ",21)

I am older than  21

In [16]:
my_age=29          #Exercise 5
julia_age=44
if my_age<julia_age:
    print("Julia is older than me")
elif my_age>julia_age:
    print("Julia is younger than me")
else:
    print("I am the same age with")

Julia is older than me

In [17]:
my_class=["Oti","Lucas","Gabi","Anderas","Pierre","Patricia","Killian","Muyaud"]    #Exercise 6
my_class.sort()
print(my_class[0])
print(my_class[-1])
for x in my_class:
    print(x)

Anderas
Pierre
Anderas
Gabi
Killian
Lucas
Muyaud
Oti
Patricia
Pierre

In [22]:
my_class_age=(34,30,27,29,35,32)    #Exercise 7a  with for loop
for x in my_class_age:
    if x%2==0:
    print(x)

34
30
32

In [3]:
my_class_age=[34,30,27,29,35,32]  # Exercise 7 with while loop
num=0
while num <len(my_class_age):
    if my_class_age[num]%2==0:
        print(my_class_age[num])
    
    num+=1

34
30
32

In [4]:
mylist=a =[34,30,27,29,35,32]
x=min(a)
print(x)                           # Exercise 8

27

In [5]:
a=[34,30,27,29,35,32]               #Exercise 9
x=max(a)
print(x)

35

In [7]:
ages=[1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]      #Exercise 10

for x in ages:
    #a=2024
    print(x)

1999
1995
2005
2010
2007
2006
1994
1996
1979
2008

In [15]:
                                        ##Exercise 11 (1)
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
for x in customer_list:
    print(x["name"],x["age"])

Bob 1999
Jack 1995
Lisa 2005
Maria 2010
Ben 2007
Emma 2006
Oscar 1994
Amy 1996
Paul 1979
Etta 2008

In [16]:
                                     ##Exercise 11 (2) with a sentence
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
              ]
a=2024
for x in customer_list:
    customer_age=a-x["age"]
    print(x["name"],"is", customer_age)

Bob is 25
Jack is 29
Lisa is 19
Maria is 14
Ben is 17
Emma is 18
Oscar is 30
Amy is 28
Paul is 45
Etta is 16

In [1]:
ages =[20, 24, 14, 9, 12, 13, 25, 23, 40, 11] # Exercise 12  removing lowest ans highest ages without usinf min and max methods
ages.sort()
ages.pop(0)
ages.pop(-1)
print(ages)
#print(ages[1:-1])

[11, 12, 13, 14, 20, 23, 24, 25]

In [11]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]        ##Exercise 13       
munich = [7, 13, 15, 20, 19, 18, 10, 16]

common=[]
for x in berlin:
    if x in munich:
        if x not in common:
            common.append(x)
            common.sort()
print(common)

[10, 13, 15, 16, 18, 19]

In [1]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]  #Exercise 13 using "List comprehension". This is used to create a new list from existing ones
munich = [7, 13, 15, 20, 19, 18, 10, 16]
common=[x for x in berlin if x in munich]
print(common)

[15, 13, 16, 18, 19, 10]

In [14]:
a=[15,13,16,18,19,15,10]  #Exercise 14a #first method to remove duplicate for list using for loop
b=[]
for x in a:
    if x not in b:
        b.append(x)
        b.sort()
print(b)

[10, 13, 15, 16, 18, 19]

In [20]:
a=[15,13,16,18,19,15,10]  #Exercise 14b. Second method to remove duplicate for list by coverting to dictionary and then to list
mylist=list(dict.fromkeys(a)) #N/B dictionaries does not hold duplicates
mylist.sort()
print(mylist)

[10, 13, 15, 16, 18, 19]

In [16]:
                            ##Exercise 15
def welcome():
    print("Welcome Evelyn, have a nice day!")
    print("Welcome Jost, have a nice day!")
welcome()

Welcome Evelyn, have a nice day!
Welcome Jost, have a nice day!

In [ ]:
a=input("Enter String: ")  ##Exercise 16  formular 1
length=0                   #length is the counter of the actual length
for x in a:
    length+=1
print("The length of String is ", length)

In [ ]:
a=input("Enter String: ")   #Exercise 16 formular 2, Using a function
#length=0
def get_length():
    length=0
    for y in a:
        length+=1
    print("The length of the String is ", length)
get_length()

In [93]:
                                      # Exercise 17  using  a function 
num=int(input("Please enter your number: "))
def check_even():
    if num%2==0:
        print("Yes!")
    else:
        print("No!")
check_even()

Please enter your number: 30
Yes!

In [94]:
num=int(input("Please enter your number: "))   # Exercise without a function 
if num%2==0:
    print("Yes!")
else:
    print("No!")

Please enter your number: 3
No!

### Spike

In [11]:
x=[1,2,3,4,5]                     ##for loop
for y in x:
    print("Oti Godwin!")

Oti Godwin!
Oti Godwin!
Oti Godwin!
Oti Godwin!
Oti Godwin!

In [15]:
x=[1,2,3,4,5,6,7]
for y in x:
    if y%2==0:
        print(y,"This an even number!")
    else:
        print(y,"This is an odd number!")

1 This is an odd number!
2 This an even number!
3 This is an odd number!
4 This an even number!
5 This is an odd number!
6 This an even number!
7 This is an odd number!

In [13]:
mylist=[1,2,3,4,5,6,7,8,9]
list_sum=0
for num in mylist:
    list_sum=list_sum+num
print(list_sum)

45

In [21]:
my_list=[(1,2),(3,4),(5,6),(7,8),(9,10)]  #unpacking of Tuple
for (x,y) in mylist:
    print(y)

2
4
6
8
10

In [ ]:
a={"name":"Oti", "age":29,"country":"Nigeria"}   # looping through Dictionary
for x in a:
    print(a[x])

In [42]:
x=0                    #while loop
while x <=5:
    print(x)
    x=x+1

0
1
2
3
4
5

In [ ]:
break 
continue
pass

In [58]:
b=("Oti Godwin")
while x in b:
    if x =="d":
        break
    print(x)

In [98]:
list_age=[32,31,45,46,73,23,42]       ## using while loop to check for even numbers 
age=0
while age <len (list_age):
    if list_age[age]%2==0:
        print(list_age[age])
    age+=1

32
46
42

In [62]:
t="AEDRFGTHZUJIK"          ## comparison between two DNA
s="CSAERSASERTDD"
count=0
for i in range(len(s)):
    if t[i] !=s[i]:
        count=count+1
        print(t[i],s[i])
print(count)

A C
E S
D A
R E
F R
G S
T A
H S
Z E
U R
J T
I D
K D
13

In [75]:
t="AEDEFGTHZUJIK"          ## comparison between two DNA
s="CEAERSAHERTDD"
if t !=s:
    print("Not same!")
    
else:
    print("Same!")

Not same!

In [77]:
                                      ###Exercise 18 (Exercise 11 in a fucntion) 
def function():
    customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
    for x in customer_list:
        print(x["name"],x["age"])
function()

Bob 1999
Jack 1995
Lisa 2005
Maria 2010
Ben 2007
Emma 2006
Oscar 1994
Amy 1996
Paul 1979
Etta 2008

In [ ]:
def function():                         #11b
    customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
    for x in customer_list:
        a=2024
        customer_age=a-x["age"]
        print(x["name"],"is",customer_age,"years old")
function()

In [83]:
def myfunc():                    #Ex 12 in func
    ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
    ages.sort()
    
    print(ages[1:-1])
myfunc()

[11, 12, 13, 14, 20, 23, 24, 25]

In [84]:
def com():                              #13 in function
    berlin = [15, 13, 16, 18, 19, 10, 12 ]
    munich = [7, 13, 15, 20, 19, 18, 10, 16]
    b=[]
    for x in berlin:
        if x in munich:
            if x not in b:
                b.append(x)
                b.sort()
    print(b)
    
com()

[15, 13, 16, 18, 19, 10]

In [86]:
def bon():                  #Ex 14 in function
    don=[15,13,16,18,19,15,10]
    mydon=list(dict.fromkeys(don))
    mydon.sort()
    print(mydon)
bon()

[10, 13, 15, 16, 18, 19]

In [87]:
def welcome():              #Ex 15
    print("Welcome Evelyn, have a nice day!")
    print("Welcome Jost, have a nice day!")
welcome()

Welcome Evelyn, have a nice day!
Welcome Jost, have a nice day!

In [ ]:
num=int(input("Enter Value: ")) #writing a fucntion that takes input and values as well as check if the value is on the list
def function(num):
    mylist=[1990,1993,1994,1995,1996,1997,1998,1999]
   # for x in mylist:
    if num in mylist:
           return True
         #print("True")
    else:
          return False
         #print("False")
function(num)

In [1]:
x= "Oti Godwin"

In [2]:
print(x)

Oti Godwin