In [ ]:
txt="Hello World"
print(txt[::-1])

dlroW olleH

In [ ]:
def function(x):
    return x[::-1]
mytxt=function("The young shall grow")
print(mytxt)

worg llahs gnuoy ehT

In [4]:
x=input("Type a number: ")
y=input("Type another number: ")
sum=int(x)+int(y)
print("The sum is: ", sum)

Type a number: 4
Type another number: 4
The sum is:  8

In [3]:
x=input("Enter a number: ")
y=input("Enter another number: ")
sum= int(x) + int(y)
print("The answer is: ", sum)

Enter a number: 3
Enter another number: 4
The answer is:  7

In [6]:
              #inserting an element on list
    
thislist = ["apple", "banana", "cherry"]                #insert method

thislist.insert(1, "watermelon")

print(thislist)

['apple', 'watermelon', 'banana', 'cherry']

In [7]:
thislist = ["apple", "banana", "cherry"]                    #append method

thislist.append( "watermelon")

print(thislist)

['apple', 'banana', 'cherry', 'watermelon']

In [8]:
thislist = ["apple", "banana", "cherry"]                      #extend method
thatlist=["suppe","corn","bom"]
thislist.extend( thatlist)

print(thislist)

['apple', 'banana', 'cherry', 'suppe', 'corn', 'bom']

In [9]:
thislist = ["apple", "banana", "cherry"]    # to add element of another list to a current list use extend method
thatlist=("suppe","corn","bom")
thislist.extend( thatlist)

print(thislist)

['apple', 'banana', 'cherry', 'suppe', 'corn', 'bom']

In [10]:
thislist = ["apple", "banana", "cherry"] #you remove element using remove method,   without inde. A specific element must be defined
thislist.remove("apple")
print(thislist)

['banana', 'cherry']

In [12]:
thislist = ["apple", "banana", "cherry"] # you remove element using pop method. without index py will remove the last element
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [13]:
thislist = ["apple", "banana", "cherry"]      #Also using "del" keyword to remove a specific index
del thislist[1]
print(thislist)

['apple', 'cherry']

In [14]:
thislist = ["apple", "banana", "cherry"]       #deletes all and prints nothing
del thislist

In [15]:
thislist = ["apple", "banana", "cherry"]       #The clear method, empties the entire list
thislist.clear()
print(thislist)

[]

In [6]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(i)

0
1
2

In [2]:
thislist = ["apple", "banana", "cherry"]     #Loop Through the Index Numbers  with for loop
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [ ]:
a=[23,34,65,78,90,34,45,65,71]      #while loop with even nums explained
x=0                      #--- starting from index 0.
while x <len(a):         #while the x is less than length of the list-(a)
    if a[x]%2==0:        # if the iterable object or element(x) in the list(a) when divided by 2 is equal to 0.
        print(a[x])     # print from the list(a) the iterable object(x).
    x=x+1               # initialize or increase x by 1 so that the iteration will continue one after the other until the end

In [5]:
a=[1,2,3,4,5,6,7,8]
x=1
while x in a:
    if x%2==0:
        print(x)
    x=x+1

2
4
6
8

In [6]:
                  ##List comprehension creates a new list containing items that meets a specific condition from an existing one
my=["apple","soursop","mango","kiwi","carrot"]
mys=[a for a in my if "o" in a]     # [expression for item in iterable list if condition == True] 
print(mys)

['soursop', 'mango', 'carrot']

In [7]:
my=["apple","soursop","mango","kiwi","carrot"]
mys=[a for a in my if a !="carrot"]     # [expression for item in iterable list if condition == True] 
print(mys)

['apple', 'soursop', 'mango', 'kiwi']

In [8]:
my=["apple","soursop","mango","kiwi","carrot"]   ## Also without an if conditon
myx=[x for x in my]
print(myx)

['apple', 'soursop', 'mango', 'kiwi', 'carrot']

In [ ]:
mylit=[x for x in range(10)]              # list comprehension with range method
print(mylit)

In [11]:
mylit=[x for x in range(10) if x < 6]            # range method with condition
print(mylit)

[0, 1, 2, 3, 4, 5]

In [13]:
mic=["oti","emma","nma","ken"]
mico=[x.upper() for x in mic]
print(mico)

['OTI', 'EMMA', 'NMA', 'KEN']

In [14]:
mic=["oti","emma","nma","ken"]
mix=["Oti" for x in mic]
print(mix)

['Oti', 'Oti', 'Oti', 'Oti']

In [17]:
fruits=["apple","kiwi","lemon","soursop","mango"] # this means, "Return the item if it is not apple, if it is apple return carrot".
mylist=[x if x !="apple" else "carrot" for x in fruits]
print(mylist)

['carrot', 'kiwi', 'lemon', 'soursop', 'mango']

In [3]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
common=[x for x in berlin if x in munich]
print(common)

[15, 13, 16, 18, 19, 10]

In [5]:
                        # Function
def myfunc():
    print("Hello World")

Hello World

In [6]:
myfunc()

Hello World

In [7]:
myfunc()

Hello World

In [69]:
def func(name):
    print("My name is", name)
    print(f"My name is {name}")
    print("My name is {} WELCOME!".format(name))
    print("Thanks")
func("Oti")

My name is Oti
My name is Oti
My name is Oti WELCOME!
Thanks

In [66]:
func("Oti")

My name is Oti
Thanks

In [56]:
mynum=[1,2,3,4,5,6,7,8,9,10]                    #Using Functions
def func(mynum):
    
    even_num=[]
    for num in mynum:
        if num %2==0:
            even_num.append(num)
    return even_num
func(mynum)

[2, 4, 6, 8, 10]

In [57]:
def check_even_list(x):
    even_num=[]
    for num in x:
        if num %2==0:
            even_num.append(num)
    return even_num

In [60]:
x=[1,2,3,4,5,6,8,10]

In [61]:
check_even_list(x)

[2, 4, 6, 8, 10]

In [73]:
ages=[31,29,34,25,27,70]
def num(ages):
    
    counter=0
    for i in ages:
        counter+=1
        return counter

In [74]:
num(ages)

1

In [44]:
ages=[31,29,34,25,27,70]

In [50]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child2)

In [51]:
my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Tobias

In [80]:
def func(name="Oti"):
    print("Hello", name)

In [81]:
func()

Hello Oti

In [82]:
def addnum(a,b):
    return a+b

In [83]:
addnum(9,1)

10

In [87]:
result=addnum(9,1)

In [86]:
result

10

In [88]:
result1=addnum(9,1) - 2

In [89]:
result1

8

In [104]:
def check_even(mylist):
    for num in mylist:
        if num %2==0:
            return True
        else:
            return False

In [105]:
check_even([2,4,5,6,7])

True

In [106]:
def check_even(mylist):
    for num in mylist:
        if num %2==0:
            return True

In [108]:
check_even([1,2,4,5,6,7])

True

In [125]:
def check_even(numlist):   ## Checking if a number is even or odd and printing them in a list 
    even_list=[]
    odd_list=[]
    for x in numlist:
        if x %2==0:
            even_list.append(x)
        else:
            odd_list.append(x)
           
    return even_list, odd_list

In [126]:
check_even([24,54,21,31,35,56,80])

([24, 54, 56, 80], [21, 31, 35])

In [139]:
demlist=[21,52,24,36,38,96,40,78]   #Returning list of even numbers and odd numbers in different lists
def com(demlist):
    even=[]
    odd=[]
    for num in demlist:
        if num %2==0:
            even.append(num)
        else:
            odd.append(num)
    return even,odd

In [141]:
com(demlist)

([52, 24, 36, 38, 96, 40, 78], [21])

In [138]:
ages=[45,61,45,23,21,78,34,23]

def agenum(ages):
    min_ages=0
    for min_ages in ages:
        if min_ages<ages:

SyntaxError: incomplete input (621606873.py, line 7)

In [142]:
ages=[45,61,45,23,21,78,34,23]
youngest_ages=oldest_age=ages[0]
for age in ages:
    if age<youngest_age:
        youngest_age=age
    if age>oldest_age:
        oldest_age=age
print(youngest_age, oldest_age)

NameError: name 'youngest_age' is not defined

In [152]:
ages=[45,61,45,23,21,78,34,23]
def youngest(ages):
    min_item=ages[0]  #  placeholder
    for num in ages:
        if num < min_item:
            min_item=num
    return min_item

In [153]:
youngest(ages)

21

In [155]:
def oldest(ages):
    max_item=ages[0]
    for num in ages:
        if num > max_item:
                max_item=num
    return max_item

In [156]:
oldest(ages)

78

In [157]:
def young_old(ages):
    min_item=ages[0]
    max_item=ages[0]
    for num in ages:
        if num< min_item:
            min_item=num
        if num >max_item:
            max_item=num
            
    return min_item, max_item

In [158]:
young_old(ages)

(21, 78)

In [5]:
ages=[45,61,45,23,21,78,34,23]
least_age=ages[0]
highest_age=ages[0]
for age in ages:
    if age<least_age:
        least_age=age
    if age>highest_age:
        highest_age=age
print(least_age, highest_age)

21 78

In [4]:
def even_odd_check(no):
    if no==0:
        print(no,"Is neither even nor odd.")
    elif no%2==0:
        print(no, "Is an even number.")
    else:
        print(no,"Is an odd number.")
even_odd_check(0)

0 Is neither even nor odd.

In [8]:
ages=[45,61,45,23,21,78,34,23]
def myages(ages):
    ages.sort()
    ages.pop(0)
    ages.pop(-1)
    return ages

In [9]:
myages(ages)

[23, 23, 34, 45, 45, 61]

In [18]:
ages=[45,61,45,23,21,78,34,23]
def myages(ages):
    ages.sort()
    return ages[0::7]
    return ages[-1]
    #ages.pop(0)
   # ages.pop(-1)
   # return ages

In [19]:
myages(ages)

[21, 78]

In [ ]:
mynum_list=[98,78,65,433,12,76,89,6]

In [23]:
mynum_list=[98,78,65,433,12,76,89,6]
lowestnum=mynum_list[0]
highestnum=mynum_list[0]
for num in mynum_list:
    if num <lowestnum:
        lowestnum=num
    if num >highestnum:
        highestnum=num
print(lowestnum, highestnum)

6 433

In [28]:
#mynum_list=[98,78,65,433,12,76,89,6]
def can(mynum_list):
    small=mynum_list[0]
    big=mynum_list[0]
    for x  in mynum_list:
        if x< small:
            small=x
        if x>big:
            big=x
    return small, big

In [29]:
can([98,78,65,433,12,76,89,6])

(6, 433)

In [31]:
add=str(input("Enter a String: "))
for x in add:
    print("The of the string is ", len(add))

Enter a String: Hello
The of the string is  5
The of the string is  5
The of the string is  5
The of the string is  5
The of the string is  5

In [40]:
add= input("Enter a string: ")
y=0
for x in add:
    y+=1
    
print("The length of the string is: ", y)

Enter a string: hi
The length of the string is:  2

In [37]:
a=input("get_length: ")   ## calculating the length of string using input function 1
length=0
for _ in a:
    length+=1
print("Length of string is: ",length)

get_length: Hi
Length of string is:  2

In [43]:
my_name=input("Please a string: ")             ## konwing the length of a string as an input  without using a function

length=0
for letter in my_name:
    length+=1
print("The length of the string is: ", length)

Please a string: Oti
The length of the string is:  3

In [58]:
my_name=input("Please enter a string: ")       ## konwing the length of a string or to count it, as an input using a function
def name(my_name):
    length=0
    for let in my_name:
        
        length+=1  
    print ("The length of the string is: ", length)
name(my_name)

Please enter a string: God is good
The length of the string is:  11

In [66]:
mynum_list=[98,78,65,433,12,76,89,6]    ## counting a string to know the length
counter=0
for x in mynum_list:
    counter+=1
print(counter)

8

In [72]:
mynum_list=[98,78,65,433,12,76,89,6]    ## counting a string to know the length
def come(mynum_list):
    counter=0
    for x in mynum_list:
        counter+=1
    print(counter)
come(mynum_list)

8

In [75]:
def mylove(*name):
    print("The name of my love is "+name[1])

In [76]:
mylove("Miracle","Nneka","Nkechi")

The name of my love is Nneka

In [81]:
def mylove(name="Joy"):
        print("The name of my love is "+name)
mylove("ken")

The name of my love is ken

In [88]:
def mylove(**name):
    print("My wife's name is "+name["name2"])
mylove(name1="Ogechi", name2="Franca",name3="Asanwa")

My wife's name is Franca

In [94]:
food=["Beans","Suppe","Rice"]
def fruit(food):
    for x in food :
        print(x)
fruits=["paw paw","mango","orange"]
fruit(fruits)

paw paw
mango
orange

   ### FOR LOOPS EXERCISES

In [1]:
name=["Oti","Godwin","Chmebuka"]   #lopping through a list
for x in name:
    print(x)

Oti
Godwin
Chmebuka

In [3]:
for x in "Godwin":    # looping through a string
    print(x)

G
o
d
w
i
n

In [6]:
                            ##break statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x=="banana":   # this means if x is equal to banana then stop and dont print further.    break comes after the print
        break

apple
banana

In [11]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x=="banana":   # this means if x is equal to banana then stop and dont print further.break comes before the print
        break
    print(x)

apple

In [14]:
fruits = ["apple", "banana", "cherry", "mango","paw paw","soursop"] ##continue statement
for x in fruits:
    if x =="mango":  #this means if x is equal to mango it will be skipped and then continue with the lopping of other items
        continue
    print(x)

apple
banana
cherry
paw paw
soursop

In [16]:
for x in range(5): ### range function helps to loop through a set of code a specified number of times. By defualt range start from 0 index
    print(x)

0
1
2
3
4

In [15]:
for x in range(5,35,3):## defining a start, end point and also increments. By defualt is actually by 1 
    print(x)

5
8
11
14
17
20
23
26
29
32

In [19]:
for x in range(5):   # printing a message when the loop has ended. ##Make use of else statement. 
    print(x)
else:
    print("Finally finished")

0
1
2
3
4
Finally finished

### Nested Loop

In [21]:
my_family=["Oti","Ifenkwe","Ibeneme","Dike"]  #The "inner loop" will be executed one time for each iteration of the "outer loop":
my_name=["Ngozi","Claudia","Nma","Ifeanyi","Godwin","Emma"]
for x in my_family:
    for y in my_name:
        print(x,y)

Oti Ngozi
Oti Claudia
Oti Nma
Oti Ifeanyi
Oti Godwin
Oti Emma
Ifenkwe Ngozi
Ifenkwe Claudia
Ifenkwe Nma
Ifenkwe Ifeanyi
Ifenkwe Godwin
Ifenkwe Emma
Ibeneme Ngozi
Ibeneme Claudia
Ibeneme Nma
Ibeneme Ifeanyi
Ibeneme Godwin
Ibeneme Emma
Dike Ngozi
Dike Claudia
Dike Nma
Dike Ifeanyi
Dike Godwin
Dike Emma

### While loops

In [29]:
   #With the while loop we can execute a set of statements as long as a condition is true.
x=1  # The while loop requires variables to be ready, in this example we need to def an indexing variable, x, which we set to 1.
while x <5:       #Print x as long as x is less than 5:
    print(x)
    x+=1

1
2
3
4

In [2]:
          # break statement in while loop
x=1
while x <5:                       #Exit the loop when i is 3
    print(x)
    if x==3: #This means that when x is equal to 3 it wont print further 
        break      
    x+=1

1
2
3

In [ ]:
fruits = ["apple","banana", "cherry", "mango","paw paw","soursop"]
y=0
while y < len(fruits):
    if fruits[y]=="cherry":
        #continue
        print(fruits[y])
        y+=1

In [1]:
fruits = ["apple","banana", "cherry", "mango","paw paw","soursop"]
x=0
while x< len(fruits):
    print(fruits[x])
    if fruits[x] =="cherry":
        break
    x+=1

apple
banana
cherry

In [1]:
x =0
while x<5:
    x+=1
    if x ==3:
        continue
    print(x)

1
2
4
5

In [1]:
fruits = ["apple","banana", "cherry", "mango","paw paw","soursop"] # else statement is returned when the conditions are not true
x=0
while x <len(fruits):
    if "a" in fruits[x]:
        print(fruits[x])
    else:
        print("There's none here")
    x+=1

apple
banana
There's none here
mango
paw paw
There's none here

### IF....ELSE          CONDITIONAL STATEMENTS

In [2]:
a=45
b=12
if a >b:
    print("A is greater than B")

A is greater than B

In [4]:
a=33    #The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".       
b=33
if b >a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")

a and b are equal

In [5]:
a=350   #The else keyword catches anything which isn't caught by the preceding conditions.
b=600
if a>b:
    print("a is greater than b")
elif a==b:
    print("a and b are equal")
    
else:
    print("b is greater than a")

b is greater than a

In [6]:
a=34                   ##"and" is keyword used to combine conditonal statements
b=40
c=45
if b >a and c>b:
    print("All are correct")

All are correct

In [8]:
a=34                   ##"or" is keyword used to combine conditonal statements
b=40
c=45
if b >a or c>b:
    print("Either one is correct")

Either one is correct

In [11]:
a=34         ##The "not" keyword is a logical operator, and is used to reverse the result of the conditional statement:
b=40
if not a >b:
    print("a is NOT greater than b")

a is NOT greater than b

In [12]:
  ## Nested If     You can have if statements inside if statements, this is called nested if statements.
x=50
if x >20:
    print("x is above 20")
    if x >40:
        print("x is also above 40")
    else:
        print("but not above 40")

x is above 20
x is also above 40

In [ ]:
a=[2, 4, 0, 100, 4, 11, 2602, 36] # 11
b=[160, 3, 1719, 19, 11, 13, -21] # 160
find_outlier([2, 4, 6, 8, 10, 3])  #3 
for x in a,b,find_outlier:
    if a[x]%2==1:
        print(a[x], "Is the odd number")
    #if b[x]%2==0:
       # print(b[x],"Is the even number")
   # if find_outlier[x]

In [1]:
a=[2, 4, 0, 100, 4, 11, 2602, 36] # 11
b=[160, 3, 1719, 19, 11, 13, -21] # 160
find_outlier=([2, 4, 6, 8, 10, 3])  #3 
for x in a:
      if x%2==1:
        print(x,"is an odd number")
for y in b:
      if y%2==0:
        print(y, "is a even number")

#,b,find_outlier:
       # print (x, "Is the odd number")
   # if b[x]%2==0:
      #  print(b[x],"Is the even number")

11 is an odd number
160 is a even number

In [ ]:
o=[2,4,6,8,10,3]
p=[2%2==0]
#for d in o:
   # if d%2==0:
      # d is p
       #if d != p:
         #  print(d)
    #else:
      ## d%2!=0
#d is not p
      # print(d)
d=0
while d <len(o):
      if d%2==0:
         d is p
         if d is not p:
              print(d, "is the outlier")
              d+=1

In [ ]:
o=[2,4,6,8,10,3]
p=o[0]%2==0 

d=0
while d <len(o):
    if d%2==0:
        d is p
        if d%2!=0:
            print(d, "is the outlier")
            d+=1