In [3]:
my_name="Oti Godwin"
print(my_name)

Oti Godwin

In [7]:
age=30
print(age)

30

In [11]:
my_age=30
julia_age=25
age_dff=my_age - julia_age
print(age_dff)

5

In [14]:
my_age=30
if my_age<= 35:
    print("I am a young man")
else:
    print("I am a old man")

I am a young man

In [15]:
my_age=30
julia_age=25
if my_age>=julia_age:
    print("Oti is older than Julia")
else:
    print("Julia is older than Oti")

Oti is older than Julia

In [9]:
rainbow_chameleons_mentor=["Andrea","Oti","Lucas","Pierre","Patricia","Gabi","Kyllian","Muayad"]
rainbow_chameleons_mentor.sort()
print(rainbow_chameleons_mentor[0], rainbow_chameleons_mentor[-1])
#print(rainbow_chameleons_mentor [-1])
#print(rainbow_chameleons[
for x in rainbow_chameleons_mentor:
      print (x)

Andrea Pierre
Andrea
Gabi
Kyllian
Lucas
Muayad
Oti
Patricia
Pierre

In [32]:
rainbow_chameleons_age=[27,30,29,36,32,28]
print(rainbow_chameleons_age)
for x  in rainbow_chameleons_age:
        if x % 2==0:
            print(x)

[27, 30, 29, 36, 32, 28]
30
36
32
28

In [5]:
a=int(input("Enter Number: "))
x=1
while x<=a:
    if x%2==0:
        print(x)
    x+=1

Enter Number: 20
2
4
6
8
10
12
14
16
18
20

In [1]:
rainbow_chameleons_age=[27,30,29,36,32,28]
for x in rainbow_chameleons_age:
    if x%2==0:
        print(x)

30
36
32
28

In [3]:
a=[23,34,45,36,34,20]   #printing only even numbers using for numbers.
for x in a:
    if x%2==0:
        print(x)

34
36
34
20

In [6]:
a=[1,2,3,4,5,6,7,8,9]  #printing only even number using while loop
x=1
while x in a:
    if x%2==0:
        print(x)
    x+=1

2
4
6
8

In [6]:
a =[4,5,3,2,6,7,8,9]
x=min(a)
print(x)

2

In [7]:
a=[34,54,5,6,78,9]
x=max(a)
print(x)

78

In [8]:
yob=[1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
for x in yob:
    print(x)

1999
1995
2005
2010
2007
2006
1994
1996
1979
2008

In [41]:
                                                               ##Exercise 11 (1)
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
for x in customer_list:
    print(x["name"],x["age"])

Bob 1999
Jack 1995
Lisa 2005
Maria 2010
Ben 2007
Emma 2006
Oscar 1994
Amy 1996
Paul 1979
Etta 2008

In [48]:
                                                                  ##Exercise 11 (2)
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
for x in customer_list:
    print(x["name"], "was born in",x["age"])

Bob was born in 1999
Jack was born in 1995
Lisa was born in 2005
Maria was born in 2010
Ben was born in 2007
Emma was born in 2006
Oscar was born in 1994
Amy was born in 1996
Paul was born in 1979
Etta was born in 2008

In [12]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
ages.remove(9)
print(ages)

[20, 24, 14, 12, 13, 25, 23, 40, 11]

In [13]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
ages.remove(40)
print(ages)

[20, 24, 14, 9, 12, 13, 25, 23, 11]

In [2]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

common=[]
for x in berlin:
    if x in munich:
        if x not in common:
            common.append(x)
print(common)

[15, 13, 16, 18, 19, 10]

In [3]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]        # Using List Comprehension
munich = [7, 13, 15, 20, 19, 18, 10, 16]
common=[x for x in berlin if x in munich]
print(common)

[15, 13, 16, 18, 19, 10]

In [8]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
c=[]
for x in berlin:
    if x in munich:
        if x not in c:
            c.append(x)
print(c)

[15, 13, 16, 18, 19, 10]

In [9]:
a=[15,13,16,18,19,15,10]  ##first method to remove duplicate for list using for loop
b=[]
for x in a:
    if x not in b:
        b.append(x)
print(b)

[15, 13, 16, 18, 19, 10]

In [11]:
a=[15,13,16,18,19,15,10]
my=dict.fromkeys(a)
print(my)

{15: None, 13: None, 16: None, 18: None, 19: None, 10: None}

In [12]:
mylist=list(my)
print(mylist)

[15, 13, 16, 18, 19, 10]

In [13]:
berlin =[15,13,16,18,19,15,10]  ##second method to remove duplicate for list using dictionary method
mydict=dict.fromkeys(berlin)
mylist=list(mydict)
print(mylist)

[15, 13, 16, 18, 19, 10]

In [4]:
                            ##Exercise 15
def welcome():
    print("Welcome Evelyn, have a nice day!")
welcome()

Welcome Evelyn, have a nice day!

In [4]:
def welcome(fname,lname):
    print("Welcome",fname,"have a nice day!")
    print("Welcome", lname, "have a nice a day!")

In [5]:
welcome("Jost","Evelyn")

Welcome Jost have a nice day!
Welcome Evelyn have a nice a day!

In [7]:
def welcome():
    print("Welcome Jost, have a nice day!")
welcome()

Welcome Jost, have a nice day!

In [14]:
a=input("get_length: ")   ## calculating the length of string using input function 1
length=0
for _ in a:
    length+=1
print("Length of string is: ",length)

get_length: Hello
Length of string is:  5

In [9]:
a="Hello"                        ##calculating the length of string using length function or method
print(len(a))
print(type(a))

5
<class 'str'>

In [12]:
a=input("Enter name: ")
print("My name is ",a)

Enter name: Oti Godwin
My name is  Oti Godwin

In [13]:
a=input("get_length: ")         ## calculating the length of string using input function 2
length=0
for _ in a:
    length+=1
print("Length of string is ",length)

get_length: Hi
Length of string is  2

In [31]:
good=int(input("Enter number: "))  ##checking if a number is even or odd number
def check_even(good):
    if good%2==0:
        print(good, " is even number.")
    else:
        print(good," is odd number.")
check_even(good)

Enter number: 3
3  is odd number.

In [11]:
a=int(input("Enter a number: "))  ## checking if a number is odd or even  1
if a%2==0:
    print("Yes", a)
else:
    print("No ",a)

Enter a number: 20
Yes 20

In [30]:
num=int(input("Enter number: "))     ## checking if a number is odd or even  2####
def check_even(num):      # function definition
    if num ==0:
        print(num, "is neither even nor odd number")
    
    elif num %2==0:
        print(" Yes!",num, "is even number")
    else:
        print("No!",num,"is not even number")
check_even(num)   # function calling

Enter number: 35
No! 35 is not even number

In [ ]:
no=int(input("Enter number: "))      # Checking if a number is even or odd
def even_odd_check(no):
    if no==0:
        print(no,"Is neither even nor odd.")
    elif no%2==0:
        print(no, "Is an even number.")
    else:
        print(no,"Is an odd number.")
even_odd_check(no)

In [ ]:
                                        # Checking if a number is even or odd
def even_odd_check(no):
    if no==0:
        print(no,"Is neither even nor odd.")
    elif no%2==0:
        print(no, "Is an even number.")
    else:
        print(no,"Is an odd number.")
even_odd_check(3)

In [9]:
my=[2,3,4,5,4,1,6,7,8,3,2,6,7,8,2,1] #removing duplicates from lists and sorting using dictionary method
mydict=dict.fromkeys(my)
mylist=list(mydict)
mylist.sort()
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8]

In [13]:
my=[2,3,4,5,4,1,6,7,8,3,2,6,7,8,2,1] # removing duplicates from list using if in for loop
c=[]
for x in my:
    if x not in c:
        c.append(x)
        c.sort
print(c)

[2, 3, 4, 5, 1, 6, 7, 8]

In [18]:
my=[3,2,4,5,6,7,8,9,7,6,5,4,3,2,3,4,5,6,7,8,9] ### Also removing duplicates from list using Dictionary method nested in list fuction.
mylist=list(dict.fromkeys(my))
mylist.sort()
print(mylist)

[2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
def my_func(x):                    #removing duplicates  using fuction 
    return list(dict.fromkeys(x))
mylist=my_func(["Oti","Godwin","Oti","Chimebuka","Oti","Godwin","Godwin","Chimebuka","Chibuzor","Onyemaobi","Oti","Chibuzor","Onyemaobi"])
print(mylist)

['Oti', 'Godwin', 'Chimebuka', 'Chibuzor', 'Onyemaobi']

In [21]:
def myfuction(x):                        #removing duplicates  using fuction and also sorting it.
    return list(dict.fromkeys(x))
mylist=myfuction(["Oti","Godwin","Oti","Chimebuka","Oti","Godwin","Godwin","Chimebuka","Chibuzor","Onyemaobi","Oti","Chibuzor","Onyemaobi"])
mylist.sort()
print(mylist)

['Chibuzor', 'Chimebuka', 'Godwin', 'Onyemaobi', 'Oti']

In [40]:
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
for x in customer_list:
    print(x["name"]," was born in ",x["age"])
    #print("I am ",x["age"],)

Bob  was born in  1999
Jack  was born in  1995
Lisa  was born in  2005
Maria  was born in  2010
Ben  was born in  2007
Emma  was born in  2006
Oscar  was born in  1994
Amy  was born in  1996
Paul  was born in  1979
Etta  was born in  2008

In [38]:
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
for x in customer_list:
    print(x["name"],x["age"])

Bob 1999
Jack 1995
Lisa 2005
Maria 2010
Ben 2007
Emma 2006
Oscar 1994
Amy 1996
Paul 1979
Etta 2008

In [ ]:
########Exercise 18

In [61]:
                      #rewriting exercise 11 in a function!
def myfunction():

     customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]

for x in customer_list:
        print(x["name"],x["age"])      

for x in customer_list:
            print(x["name"]," was born in ",x["age"])   
myfunction()

Bob 1999
Jack 1995
Lisa 2005
Maria 2010
Ben 2007
Emma 2006
Oscar 1994
Amy 1996
Paul 1979
Etta 2008
Bob  was born in  1999
Jack  was born in  1995
Lisa  was born in  2005
Maria  was born in  2010
Ben  was born in  2007
Emma  was born in  2006
Oscar  was born in  1994
Amy  was born in  1996
Paul  was born in  1979
Etta  was born in  2008

In [72]:
                                     ##rewriting exercise 13 in a function 
def myfunc():                         
    berlin = [15, 13, 16, 18, 19, 10, 12 ]
    munich = [7, 13, 15, 20, 19, 18, 10, 16]
    common=[]
    for x in berlin:
        if x in munich:
            if x not in common:
                common.append(x)
                common.sort()
    print(common)
myfunc()

[10, 13, 15, 16, 18, 19]

In [76]:
                                ### rewriting exercise 14 in a function using Dictionary method because it does not accept duplicate.(1)
def myfunction():
    a=[15,13,16,18,19,15,10]
    mylist=dict.fromkeys(a)
    my=list(mylist)
    my.sort()
    print(my)
myfunction()

[10, 13, 15, 16, 18, 19]

In [80]:
                            ###rewriting exercise 14 in a function using if statement in for loop
def function():
    a=[15,13,16,18,19,15,10]
    b=[]
    for x in a:
        if x not in b:
            b.append(x)
            b.sort()
    print(b)
function()

[10, 13, 15, 16, 18, 19]

In [82]:
def my_function():         
    customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
    for x in customer_list:
        print(x["name"],x["age"])  ##exercise 11a
    for x in customer_list:
        print(x["name"],"was born in ",x["age"])  ###exercise 11b
        
    berlin = [15, 13, 16, 18, 19, 10, 12 ]
    munich = [7, 13, 15, 20, 19, 18, 10, 16]
    common=[]
    for x in berlin:
        if x in munich:
            if x not in common:
                common.append(x)
                common.sort()
    print(common)                  ###exercise 13
    a=[15,13,16,18,19,15,10]
    my=dict.fromkeys(a)
    mylist=list(my)
    mylist.sort()
    print(mylist)                  ##exercise 14
    
    a="Welcome Evelyn, have a nice day!"
    b="Welcome Jost, have a nice day!"
    print(a)
    print(b)                    ##exercise 15
    
    
my_function()

Bob 1999
Jack 1995
Lisa 2005
Maria 2010
Ben 2007
Emma 2006
Oscar 1994
Amy 1996
Paul 1979
Etta 2008
Bob was born in  1999
Jack was born in  1995
Lisa was born in  2005
Maria was born in  2010
Ben was born in  2007
Emma was born in  2006
Oscar was born in  1994
Amy was born in  1996
Paul was born in  1979
Etta was born in  2008
[10, 13, 15, 16, 18, 19]
[10, 13, 15, 16, 18, 19]
Welcome Evelyn, have a nice day!
Welcome Jost, have a nice day!

In [10]:
num=int(input("Enter Value: "))              ##writing a fucntion taht takes input and values as well as heck if the vales is on the list##
def function(num):
    mylist=[1,3,4,5,6,7,8,9,]
    #for x in mylist:
    if num  in mylist:
        print("Yes!")
    else:
        print("No")
function(num)

Enter Value: 6
Yes!

In [11]:
num=int(input("Enter Value: "))                ##writing a fucntion taht takes input and values as well as heck if the vales is on the list##
def function(num):
    mylist=[1990,1993,1994,1995,1996,1997,1998,1999,]
   # for x in mylist:
    if num in mylist:
         print("True")
    else:
         print("False")
function(num)

Enter Value:  1994

True

In [19]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]   #### removing the youngest and the oldest person without the use of min() and max()  Exercise 12
ages.sort()
print(ages)
print(ages[1:])
print(ages[1:9])

[9, 11, 12, 13, 14, 20, 23, 24, 25, 40]
[11, 12, 13, 14, 20, 23, 24, 25, 40]
[11, 12, 13, 14, 20, 23, 24, 25]

In [3]:
my_name="Oti Godwin"
print("My name is ", my_name)

My name is  Oti Godwin